* { 
    margin: 0;
    padding: 0;
    
}



.titulo { 
   color: #D2872C;
   margin-left: 24px;
   margin-top: 18px;
   font-weight: bold;

}

nav { 
    position: absolute;
    top: 28px;
    right: 85px;
    color: gray;

}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 22px;
	text-decoration:none;
    color: #766F68;
    transition: 1.5s;
}

nav a:hover {
	transition: 0.3s;
	color:#D2872C;
	
	
}


/* banner */ 
 
.banner { 
    margin-top: 80px;
  float: right;
  
}

/* conteudo */

.texto-principal { 
    margin-top: 90px;
    color:#766F68;
    font-size: 4em;
    font-weight: bold;
    margin-left: 1em;
    
    
}
.texto { 
    font-size: 1.5em;
    color: #766F68;
    margin-left: 2.7em;
}

.botao { 
    background-color: #D2872C;
    padding: 1em;
    border-radius: 15px;
    padding: 1em;
    display: block;
    width: 20%;
    text-align: center;
    margin-left: 200px;
    margin-top: 40px;
    font-size: 30px;
   transition: 2s;
  
}

.bot a{ 
    text-decoration: none;
    border: none;
    color: white;
    font-weight: bold; 
    
    
}

.botao:hover { 
    transform: scale(1.2)
    
}

